.bottombannerad {
    position: absolute;
    top: 60%;       
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
}

.gridad {
    position: absolute;    
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    padding-left: 200px;
    padding-right: 200px;
}
