body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    min-height: 100vh; /* Ensures the body takes the full height */
}

.titlepiece {
    text-align: center;
    font-size: 2.5em;
    color: #95d0b4;
    margin: 20px 0; /* Adjusts margin for better spacing */
}

.wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Adjusts margin for better spacing */
}

.search {
    display: flex;
}

.searchTerm {
    width: 300px;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.searchButton {
    padding: 10px;
    background-color: #95d0b4;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 40px;
}

.searchButton i {
    color: #fff;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #111;
    text-align: center;
    padding: 10px;
    color: #fff;
}

#footer a {
    color: #95d0b4;
    text-decoration: none;
}
