  /* Global styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

body {
    overflow-x: hidden;
}

/* Styles for the content area */
.content-area {
    width: 100%;
    min-height: 100vh;
    background-color: #13111c; /*bro really took the railway color */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-area2 {
    width: 100%;
    min-height: 100vh;
    background-color: #181622;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rounded-image {
    border-radius: 20px; /* make edges rounded */
    transition: all 0.2s ease-in-out; /* add transition for smooth effect */
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.rounded-image:hover {
    transform: scale(1.2); /* make image 20% bigger */
}
.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin-right: 20px;
  }
  .flex-container > div > p {
    text-decoration: none;
    color: #26272b;

  }
  .descriptions{
    text-decoration: none;
  }  
