* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.div {
    background-color: #080116;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.titlepiece {
    color: #fff;
    margin: 0;
    font-size:3em;
}
