  /* Global styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

body {
    overflow-x: hidden;
}

/* Styles for the banner */
.banner {
    width: 100%;
    min-height: 100vh;
    /* Change url later prob a single color depending a color scheme */
    background-image: url(https://wallpapercave.com/wp/wp5269905.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 4.6em;
    font-weight: 800;
    color: #fff;
    text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.8);
}

.banner-subtitle {
    color: #fff;
    font-size: 1.8em;
    letter-spacing: 2px;
}

/* Styles for the content area */
.content-area {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://raw.githubusercontent.com/maxwell-com/maxwellstevenson.com/main/island.png?token=GHSAT0AAAAAACG47NCQEDLXPDOSO5S7C6ZGZHOFM5A);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-footer {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}

.site-footer hr.small {
    margin:20px 0
                 }

.site-footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.site-footer a{
  color:#737373;
}

.site-footer a:hover  {
    color:#3366cc;
    text-decoration:none;
}

.footer-links {
    padding-left:0;
    list-style:none
}

.footer-links li  {
    display:block
}

.footer-links a {
    color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color: #ced4da;
    text-decoration:none;
}

.footer-links.inline li{
 display:inline-block
}

.site-footer .social-icons {
 text-align:right
}

.site-footer .social-icons a   {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}

.copyright-text {
 margin:0
 text-decoration: none;
}

@media (max-width:991px)
{

.site-footer [class^=col-]{
    margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
    padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
    text-align:center
}
}
.rounded-image {
    border-radius: 20px; /* make edges rounded */
    transition: all 0.2s ease-in-out; /* add transition for smooth effect */
}

.rounded-image:hover {
    transform: scale(1.2); /* make image 20% bigger */
}
.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin-right: 20px;
  }
  .flex-container > div > p {
    text-decoration: none; /* Remove underline from the paragraph */
    color: #26272b;

  }
  .descriptions{
    text-decoration: none;
  }  

  @import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");

.wrapper {
min-width: 100vw;
min-height: 100vh;
display: flex;
flex-wrap: wrap;
text-align: center;
align-items: center;
background: #eee;
.text_group {
.text_404 {
  font-family: "Comic Neue", cursive;
  font-size: 10em;
  box-sizing: border-box;
  color: #363636;
}
.text_lost {
  font-family: "Comic Neue", cursive;
  font-size: 2em;
  line-height: 50px;
  box-sizing: border-box;
  color: #565656;
}
}
.window_group {
.window_404 {
  width: 200px;
  height: 350px;
  border-radius: 100px;
  box-shadow: -3px -3px 0px 5px rgba(212, 212, 212, 1),
    5px 5px 0px 2px rgba(255, 255, 255, 1);
  background: linear-gradient(
    310deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 107, 1) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  .stars {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    animation: flyby 30s linear infinite;
    .star {
      border-radius: 50%;
      background: #ffffff;
      position: absolute;
      @for $i from 1 through 100 {
        $size: random(3) + px;
        &:nth-of-type(#{$i}) {
          width: $size;
          height: $size;
          left: random(400) + px;
          top: random(350) + px;
          animation: twinkle#{$i} random(8) + 5s linear infinite;
          animation-delay: random(15) + 3s;
          &:before {
            content: "";
            width: $size;
            height: $size;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            filter: blur(1px);
          }
        }
      }
    }
  }
}
}
}

@for $k from 1 through 100 {
@keyframes twinkle#{$k} {
0% {
  transform: scale(1, 1);
}
10% {
  transform: scale(0.3, 0.3);
}
20% {
  transform: scale(1, 1);
}
30% {
  transform: scale(0.5, 0.5);
}
40% {
  transform: scale(1, 1);
}
100% {
  transform: scale(1, 1);
}
}
}

@keyframes flyby {
from {
left: 0%;
}
to {
left: -100%;
}
}
@media only screen and (min-width: 1080px) {
.wrapper {
.text_group {
  flex: 0 0 30%;
  margin-left: 25%;
  align-items: flex-end;
}
.window_group {
  flex: 1 0 40%;
  margin-top: 0;
  margin-left: 5%;
}
}
}
@media only screen and (max-width: 1079px) {
.wrapper {
.text_group {
  flex: 0 0 100%;
  margin: 0;
  align-items: center;
  .text_lost {
    width: 100%;
    padding: 0 22px;
    font-size: 1.7em;
    line-height: 35px;
  }
}
.window_group {
  flex: 0 0 100%;
  .window_404 {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
}
}
}
