  /* Global styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

body {
    overflow-x: hidden;
}

/* Styles for the banner */
.banner {
    width: 100%;
    min-height: 100vh;
    /* Change url later prob a single color depending a color scheme */
    background-image: url(img/space.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 4.6em;
    font-weight: 800;
    color: #fff;
    text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.8);
}

.banner-subtitle {
    color: #fff;
    font-size: 1.8em;
    letter-spacing: 2px;
}

/* Styles for the content area */
.content-area {
    width: 100%;
    min-height: 100vh;
    background-color: #13111c; /*bro really took the railway color */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-footer {
    background-color: #13111c;
    background-image: linear-gradient(to bottom right, #13111c, #26272b);
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}

.site-footer hr.small {
    margin:20px 0
                 }

.site-footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.site-footer a{
  color:#737373;
}

.site-footer a:hover  {
    /*color:#3366cc; */
    text-decoration:none;
}

.footer-links {
    padding-left:0;
    list-style:none
}

.footer-links li  {
    display:block
}

.footer-links a {
    color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color: #ced4da;
    text-decoration:none;
}

.footer-links.inline li{
 display:inline-block
}

.site-footer .social-icons {
 text-align:right
}

.site-footer .social-icons a   {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}

.copyright-text {
  margin: 0;
  text-decoration: none;
}


@media (max-width:991px)
{

.site-footer [class^=col-]{
    margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
    padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
    text-align:center
}
}
.rounded-image {
    border-radius: 20px; /* make edges rounded */
    transition: all 0.2s ease-in-out; /* add transition for smooth effect */
}

.rounded-image:hover {
    transform: scale(1.2); /* make image 20% bigger */
}
.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin-right: 20px;
  }
  .flex-container > div > p {
    text-decoration: none; /* Remove underline from the paragraph */
    color: #26272b;

  }
  .descriptions{
    text-decoration: none;
  }  
  .styled-hr {
    width: 30%;
    height: 5px;
    border: none;
    background-color: #306ee8; /* Change the color as needed */
}
