* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}
body{
  background-color: #080116;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #42946e;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #42946e;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #42946e;
  background: #42946e;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titlepiece {
    color: #fff;
    margin: 0;
    font-size:3em;
    text-align: center;
}

.sidenav
{
  height:100%;
  width:0;
  background-color:#111;
  position:fixed;
  z-index: 10;
  overflow-x:hidden;
  transition:0.5s;
  top:0;
  left:0;
  padding-top:60px;
  
  
}

.topright {
  position:fixed;
  top:0;
  left:0;
  padding-top:60px;
  padding-left: 10px;
}


.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block;
  transition:0.3s;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn{
  position: absolute;
  top:0;
  right:25px;
  font-size:36px;
  margin-left:50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidebutton {
  position: absolute;
  top:0;
  left:0;
  color:#a1a0ab;
}
.sidebutton:hover {
    color:#fff
}
