
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}
.search {
  width: 100%;
}

.searchTerm {
  width: 100%;
  border: 1px solid #42946e;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  background-color:#181622;
}

.searchTerm:focus{
  color: #fff;
}

.searchButton {
  width: 40px;
  height: 28px;
  border: 1px solid #42946e;
  background: #42946e;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}

.wrap{
  width: 30%;
}
